USE [master]
GO
/****** Object:  Database [CINEMATRIX]    Script Date: 2/11/2024 17:31:30 ******/
CREATE DATABASE [CINEMATRIX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINEMATRIX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CINEMATRIX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CINEMATRIX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CINEMATRIX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINEMATRIX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINEMATRIX]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ADMIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMIN_USER] [varchar](30) NOT NULL,
	[ADMIN_PASS] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAPITAL]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAPITAL](
	[COUNTRY_CODE] [int] NOT NULL,
	[CAPITAL_CODE] [int] IDENTITY(1,1) NOT NULL,
	[CAPITAL_NAME] [varchar](50) NOT NULL,
	[CAPITAL_POPULATION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CODE] ASC,
	[CAPITAL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAST]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAST](
	[MOVIE_ID] [int] NOT NULL,
	[PERSON_ID] [int] NOT NULL,
	[CAST_CHARACTER] [varchar](50) NOT NULL,
	[CAST_ORDER] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[PERSON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[COMPANY_CODE] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_NAME] [varchar](50) NOT NULL,
	[COMPANY_REVENUE] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY_CODE] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ISO] [char](3) NOT NULL,
	[COUNTRY_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREW]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREW](
	[MOVIE_ID] [int] NOT NULL,
	[PERSON_ID] [int] NOT NULL,
	[DEP_CODE] [int] NOT NULL,
	[CREW_JOBTITLE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[PERSON_ID] ASC,
	[DEP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEP_CODE] [int] IDENTITY(1,1) NOT NULL,
	[DEP_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[GENRE_ID] [int] IDENTITY(1,1) NOT NULL,
	[GENRE_CATEGORY] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GENRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGE](
	[LANGUAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LANGUAGE_CODE] [char](3) NULL,
	[LANGUAGE_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[MOVIE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MOVIE_TITLE] [varchar](250) NOT NULL,
	[MOVIE_BUDGET] [decimal](20, 2) NULL,
	[MOVIE_OVERVIEW] [varchar](2000) NOT NULL,
	[MOVIE_REVENUE] [decimal](20, 2) NULL,
	[MOVIE_RELEASE] [date] NOT NULL,
	[MOVIE_RUNTIME] [time](7) NOT NULL,
	[MOVIE_STATUS] [varchar](20) NOT NULL,
	[MOVIE_RATING] [decimal](3, 1) NULL,
	[MOVIE_RATINGS_NR] [int] NULL,
	[MOVIE_COVER] [varchar](300) NOT NULL,
	[ADMIN_ID] [int] NOT NULL,
	[MOVIE_TOTAL_RATING] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_COMPANY]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_COMPANY](
	[MOVIE_ID] [int] NOT NULL,
	[COMPANY_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_COUNTRY]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_COUNTRY](
	[MOVIE_ID] [int] NOT NULL,
	[COUNTRY_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[COUNTRY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_GENRE]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_GENRE](
	[MOVIE_ID] [int] NOT NULL,
	[GENRE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[GENRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_LANGUAGE]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_LANGUAGE](
	[MOVIE_ID] [int] NOT NULL,
	[LANGUAGE_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[LANGUAGE_ID] ASC,
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_TRAILER]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_TRAILER](
	[MOVIE_ID] [int] NOT NULL,
	[TRAILER_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRAILER] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVIE_ID] ASC,
	[TRAILER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[PERSON_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSON_FNAME] [varchar](50) NOT NULL,
	[PERSON_MNAME] [varchar](30) NULL,
	[PERSON_LNAME] [varchar](50) NOT NULL,
	[PERSON_GENDER] [varchar](30) NULL,
	[PERSON_TYPE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_LANGUAGE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([ADMIN_ID], [ADMIN_USER], [ADMIN_PASS]) VALUES (7, N'Frenki', N'$2a$10$Rn.iwiXqW20O.YRRKhZX7.OqCW0gpzVic6Tq49deOMQNOWORNqRyC')
INSERT [dbo].[ADMIN] ([ADMIN_ID], [ADMIN_USER], [ADMIN_PASS]) VALUES (10, N'Klajdi', N'$2a$10$loN2KwjV87neGrdKL22cWORllym84cFx86NhgPoaZvqfugU9zz3DO')
INSERT [dbo].[ADMIN] ([ADMIN_ID], [ADMIN_USER], [ADMIN_PASS]) VALUES (11, N'Spiro', N'$2a$10$wZJoad5nRdbTReqjr7MAFOuQEGhN7AwsL/UTQ1zE0dbsXqsxC5bMO')
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPANY] ON 

INSERT [dbo].[COMPANY] ([COMPANY_CODE], [COMPANY_NAME], [COMPANY_REVENUE]) VALUES (1, N'Upstairs Canada Productions', CAST(0.00 AS Decimal(20, 2)))
INSERT [dbo].[COMPANY] ([COMPANY_CODE], [COMPANY_NAME], [COMPANY_REVENUE]) VALUES (2, N'Ursa Major Films LLC', CAST(0.00 AS Decimal(20, 2)))
INSERT [dbo].[COMPANY] ([COMPANY_CODE], [COMPANY_NAME], [COMPANY_REVENUE]) VALUES (3, N'USA Films', CAST(0.00 AS Decimal(20, 2)))
GO
SET IDENTITY_INSERT [dbo].[COMPANY] OFF
GO
SET IDENTITY_INSERT [dbo].[COUNTRY] ON 

INSERT [dbo].[COUNTRY] ([COUNTRY_CODE], [COUNTRY_ISO], [COUNTRY_NAME]) VALUES (1, N'AE ', N'United Arab Emirates')
INSERT [dbo].[COUNTRY] ([COUNTRY_CODE], [COUNTRY_ISO], [COUNTRY_NAME]) VALUES (2, N'AF ', N'Afghanistan')
INSERT [dbo].[COUNTRY] ([COUNTRY_CODE], [COUNTRY_ISO], [COUNTRY_NAME]) VALUES (3, N'AO ', N'Angola')
SET IDENTITY_INSERT [dbo].[COUNTRY] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DEP_CODE], [DEP_NAME]) VALUES (1, N'Camera')
INSERT [dbo].[DEPARTMENT] ([DEP_CODE], [DEP_NAME]) VALUES (2, N'Directing')
INSERT [dbo].[DEPARTMENT] ([DEP_CODE], [DEP_NAME]) VALUES (3, N'Production')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[GENRE] ON 

INSERT [dbo].[GENRE] ([GENRE_ID], [GENRE_CATEGORY]) VALUES (1, N'Adventure')
INSERT [dbo].[GENRE] ([GENRE_ID], [GENRE_CATEGORY]) VALUES (2, N'Fantasy')
INSERT [dbo].[GENRE] ([GENRE_ID], [GENRE_CATEGORY]) VALUES (3, N'Animation')
SET IDENTITY_INSERT [dbo].[GENRE] OFF
GO
SET IDENTITY_INSERT [dbo].[LANGUAGE] ON 

INSERT [dbo].[LANGUAGE] ([LANGUAGE_ID], [LANGUAGE_CODE], [LANGUAGE_NAME]) VALUES (1, N'en ', N'English')
INSERT [dbo].[LANGUAGE] ([LANGUAGE_ID], [LANGUAGE_CODE], [LANGUAGE_NAME]) VALUES (2, N'sv ', N'Svenska')
INSERT [dbo].[LANGUAGE] ([LANGUAGE_ID], [LANGUAGE_CODE], [LANGUAGE_NAME]) VALUES (3, N'de ', N'Deutsch')
SET IDENTITY_INSERT [dbo].[LANGUAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIE] ON 

SET IDENTITY_INSERT [dbo].[MOVIE] OFF
GO
INSERT [dbo].[MOVIE_COUNTRY] ([MOVIE_ID], [COUNTRY_CODE]) VALUES (4, 87)
GO
INSERT [dbo].[MOVIE_GENRE] ([MOVIE_ID], [GENRE_ID]) VALUES (4, 1)
INSERT [dbo].[MOVIE_GENRE] ([MOVIE_ID], [GENRE_ID]) VALUES (4, 6)
INSERT [dbo].[MOVIE_GENRE] ([MOVIE_ID], [GENRE_ID]) VALUES (4, 13)
GO
SET IDENTITY_INSERT [dbo].[MOVIE_TRAILER] ON 

INSERT [dbo].[MOVIE_TRAILER] ([MOVIE_ID], [TRAILER_ID], [TRAILER]) VALUES (4, 2, N'https://www.youtube.com/embed/eOrNdBpGMv8?si=S0s7AicklKDznUn5')
SET IDENTITY_INSERT [dbo].[MOVIE_TRAILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TYPE] ON 

INSERT [dbo].[TYPE] ([TYPE_ID], [TYPE_LANGUAGE]) VALUES (1, N'Original')
INSERT [dbo].[TYPE] ([TYPE_ID], [TYPE_LANGUAGE]) VALUES (2, N'Spoken')
SET IDENTITY_INSERT [dbo].[TYPE] OFF
GO
ALTER TABLE [dbo].[COMPANY] ADD  DEFAULT ((0.0)) FOR [COMPANY_REVENUE]
GO
ALTER TABLE [dbo].[CAPITAL]  WITH CHECK ADD FOREIGN KEY([COUNTRY_CODE])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_CODE])
GO
ALTER TABLE [dbo].[CAST]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CAST]  WITH CHECK ADD FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[PERSON] ([PERSON_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CREW]  WITH CHECK ADD FOREIGN KEY([DEP_CODE])
REFERENCES [dbo].[DEPARTMENT] ([DEP_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CREW]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CREW]  WITH CHECK ADD FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[PERSON] ([PERSON_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK__MOVIE__ADMIN_ID__4AB81AF0] FOREIGN KEY([ADMIN_ID])
REFERENCES [dbo].[ADMIN] ([ADMIN_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK__MOVIE__ADMIN_ID__4AB81AF0]
GO
ALTER TABLE [dbo].[MOVIE_COMPANY]  WITH CHECK ADD FOREIGN KEY([COMPANY_CODE])
REFERENCES [dbo].[COMPANY] ([COMPANY_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_COMPANY]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_COUNTRY]  WITH CHECK ADD FOREIGN KEY([COUNTRY_CODE])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_COUNTRY]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_GENRE]  WITH CHECK ADD FOREIGN KEY([GENRE_ID])
REFERENCES [dbo].[GENRE] ([GENRE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_GENRE]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGE]  WITH CHECK ADD FOREIGN KEY([LANGUAGE_ID])
REFERENCES [dbo].[LANGUAGE] ([LANGUAGE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGE]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGE]  WITH CHECK ADD FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[TYPE] ([TYPE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_TRAILER]  WITH CHECK ADD FOREIGN KEY([MOVIE_ID])
REFERENCES [dbo].[MOVIE] ([MOVIE_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CREW]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_CREW]
AS
SELECT MOVIE.MOVIE_ID,MOVIE.MOVIE_TITLE,PERSON.PERSON_ID,CONCAT(PERSON.PERSON_FNAME,' ',PERSON.PERSON_MNAME,' ',PERSON.PERSON_LNAME) AS NAME,DEPARTMENT.DEP_CODE,DEPARTMENT.DEP_NAME,CREW.CREW_JOBTITLE 
FROM CREW, MOVIE, PERSON,DEPARTMENT 
WHERE DEPARTMENT.DEP_CODE = CREW.DEP_CODE AND PERSON.PERSON_ID = CREW.PERSON_ID AND MOVIE.MOVIE_ID = CREW.MOVIE_ID
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MOVIE_ACTORS]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_MOVIE_ACTORS] @title VARCHAR(250) 
AS
SELECT CONCAT(PERSON_FNAME,' ',PERSON_MNAME,' ',PERSON_LNAME) AS NAME, CAST_CHARACTER,PERSON_GENDER,CAST_ORDER 
FROM PERSON P
JOIN CAST C ON P.PERSON_ID = C.PERSON_ID
JOIN MOVIE M ON C.MOVIE_ID = M.MOVIE_ID
WHERE MOVIE_TITLE = @title 
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_TOTAL_RATING]    Script Date: 2/11/2024 17:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_TOTAL_RATING] 
AS
UPDATE MOVIE 
SET MOVIE_TOTAL_RATING = MOVIE_RATING * MOVIE_RATINGS_NR 
GO
USE [master]
GO
